*{
	font-family: 'Oswald', sans-serif;
	color: white;
}
body {
	background-color: #00CBFF;
}
/*Animation Shorthand syntax*/
/*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
/*Bizear Linear*/
.box-one {
	background-color: red;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
}

/*Bizear Ease*/
.box-two {
	background-color: darkblue;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.25, .1, .25, 1) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.25, .1, .25, 1) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.25, .1, .25, 1) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.25, .1, .25, 1) 0s infinite normal none running;
}

/*Bizear Ease-in*/
.box-three {
	background-color: green;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.42, 0, 1, 1) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.42, 0, 1, 1) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.42, 0, 1, 1) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.420, 0, 1, 1) 0s infinite normal none running;
}

/*Bizear Ease-out*/
.box-four {
	background-color: darkgoldenrod;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(0, 0, .58, 1) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(0, 0, .58, 1) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(0, 0, .58, 1) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(0, 0, .58, 1) 0s infinite normal none running;
}

/*Bizear Ease-in-out*/
.box-five {
	background-color: darkorchid;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.25, .25, .75, .75) 0s infinite normal none running;
}

/*Bizear Ease elastic*/
.box-six {
	background-color: indigo;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.25,-.5,.75,1.5) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.25,-.5,.75,1.5) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.25,-.5,.75,1.5) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.25,-.5,.75,1.5) 0s infinite normal none running;
}

/*Bizear Ease in-elastic*/
.box-seven {
	background-color: olive;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(1, .145, 1, -.6) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(1, .145, 1, -.6) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(1, .145, 1, -.6) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(1, .145, 1, -.6) 0s infinite normal none running;
}

/*Bizear Ease out-elastic*/
.box-eight {
	background-color: deeppink;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(0.000, 1.650, 0.000, 0.900) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(0.000, 1.650, 0.000, 0.900) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(0.000, 1.650, 0.000, 0.900) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(0.000, 1.650, 0.000, 0.900) 0s infinite normal none running;
}

/*Bizear Ease dramatic-elastic*/
.box-nine {
	background-color: indianred;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(0.5, 2, 0.5, -1) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(0.5, 2, 0.5, -1) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(0.5, 2, 0.5, -1) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(0.5, 2, 0.5, -1) 0s infinite normal none running;
}

/*Bizear Ease in back*/
.box-ten {
	background-color: chocolate;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.6, -.28, .735, .045) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.6, -.28, .735, .045) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.6, -.28, .735, .045) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.6, -.28, .735, .045) 0s infinite normal none running;
}

/*Bizear Ease out back*/
.box-eleven {
	background-color: brown;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.175, .885, .32, 1.275) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.175, .885, .32, 1.275) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.175, .885, .32, 1.275) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.175, .885, .32, 1.275) 0s infinite normal none running;
}

/*Bizear Ease in out back*/
.box-twelve {
	background-color: darkolivegreen;
	left: 0px;
	height: 50px;
	width: 400px;
	-webkit-animation: animate_box 1.5s cubic-bezier(.68, -.55, .265, 1.55) 0s infinite normal none running;
  -moz-animation: animate_box 1.5s cubic-bezier(.68, -.55, .265, 1.55) 0s infinite normal none running;
  -ms-animation: animate_box 1.5s cubic-bezier(.68, -.55, .265, 1.55) 0s infinite normal none running;
  animation: animate_box 1.5s cubic-bezier(.68, -.55, .265, 1.55) 0s infinite normal none running;
}

@keyframes animate_box {
    from {width: 400px;}
    to {width: 1000px;}
}
@-webkit-keyframes animate_box {
    from {width: 400px;}
    to {width: 1000px;}
}
@-moz-keyframes animate_box {
    from {width: 400px;}
    to {width: 1000px;}
}
@-ms-keyframes animate_box {
    from {width: 400px;}
    to {width: 1000px;}
}

